.hidden {
    display: none;
}
.portfolio-shortcode-wrap {
    overflow: hidden;
    position: relative;
}

// Popup
.mfp-gallery {
    img {
        max-height: 90vh!important;
    }
    a {
        color: $white;
        font-weight: 700;
    }
}

// Filter
.portfolio-tabs {
    margin-bottom: 40px;
    .tab-wrapper {
        &.left {
            text-align: left;
        }
        &.center {
            text-align: center;
        }
        &.right {
            text-align: right;
        }
        ul {
            list-style: none;
            padding: 0;
            position: relative;
            li {
                &:first-child {
                    margin-left: 0;
                }
                display: inline-block;
                margin-left: 4px;
                margin-right: 4px;
                position: relative;
                a {
                    color: $primary_color;
                    border: none;
                    min-width: auto;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    &:before {
                        @include scale(0);
                        @include transition( all 0.35s ease );
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: $primary_color;
                    }
                }
                &:hover {
                    a {
                        color: $primary_color;
                    }
                }
                &.active {
                    a {
                        color: $primary_color;
                        &:before {
                            @include scale(1);
                        }
                    } 
                }
            }
        }
    }
}
// Button Load 
.portfolio-loadmore-wrap {
    text-align: center;
    .haru-button {
        border: 1px solid $primary_color;
        background-color: $primary_color;
        color: $white;
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 5px 20px;
        text-transform: uppercase;
        &:hover {
            background-color: $white;
            border-color: $primary_color;
            color: $primary_color;
        }
    }
}
/* pretty Photo */
div.light_rounded .pp_description,
div.light_square .pp_description {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}

/* end pretty Photo */

// Process portfolio columns
.portfolio-wrapper {
    min-height: 300px;
    // Padding
    &.col-padding-5 {
        margin-right: -5px;
        margin-left: -5px;
        .portfolio-item {
            padding: 0 5px;
            margin: 5px 0;
        }
    }
    &.col-padding-10 {
        margin-right: -10px;
        margin-left: -10px;
        .portfolio-item {
            padding: 0 10px;
            margin: 10px 0;
        }
    }
    &.col-padding-15 {
        margin-right: -15px;
        margin-left: -15px;
        .portfolio-item {
            padding: 0 15px;
            margin: 15px 0;
        }
    }
    &.col-padding-20 {
        margin-right: -20px;
        margin-left: -20px;
        .portfolio-item {
            padding: 0 20px;
            margin: 20px 0;
        }
    }
    // End padding
    // Columns
    &.haru-col-2 {
        .portfolio-item {
            .portfolio-title-wrap {
                &.top, &.bottom {
                    .portfolio-title {
                        font-size: 24px;
                    }
                    .portfolio-tag {
                        font-size: 18px;
                    }
                }
            }
            width: 50%;
            &.portrait {
                width: 50%;
            }
            &.landscape {
                width: 100%;
            }
            &.small_squared {
                width: 50%;
            }
            &.big_squared {
                width: 100%;
            }
        }
    }
    &.haru-col-3 {
        .portfolio-item {
            .portfolio-title-wrap {
                &.top, &.bottom {
                    .portfolio-title {
                        font-size: 18px;
                    }
                }
            }
            width: 33.3333333%;
            &.portrait {
                width: 33.3333333%;
            }
            &.landscape {
                width: 66.6666666%;
            }
            &.small_squared {
                width: 33.3333333%;
            }
            &.big_squared {
                width: 66.6666666%;
            }
        }
    }
    &.haru-col-4 {
        .portfolio-item {
            width: 25%;
            &.portrait {
                width: 25%;
            }
            &.landscape {
                width: 50%;
            }
            &.small_squared {
                width: 25%;
            }
            &.big_squared {
                width: 50%;
            }
        }
    }
    &.haru-col-5 {
        .portfolio-item {
            width: 20%;
            &.portrait {
                width: 20%;
                @media screen and (max-width: 767px) {
                    width: 50%
                }
            }
            &.landscape {
                width: 40%;
                @media screen and (max-width: 767px) {
                    width: 50%
                }
            }
            &.small_squared {
                width: 20%;
                @media screen and (max-width: 767px) {
                    width: 50%
                }
            }
            &.big_squared {
                width: 40%;
                @media screen and (max-width: 767px) {
                    width: 50%
                }
            }
        }
    }
    &.haru-col-6 {
        .portfolio-item {
            width: 16.6666667%;
            &.portrait {
                width: 16.6666667%;
            }
            &.landscape {
                width: 33.3333333%;
            }
            &.small_squared {
                width: 16.6666667%;
            }
            &.big_squared {
                width: 33.3333333%;
            }
        }
    }
    // Responsive
    @media screen and (max-width: 767px) {
        .portfolio-item {
            width: 50%!important;
            height: auto!important;
            img {
                height: auto!important;
            }
        }
    }
    @media screen and (max-width: 479px) {
        .portfolio-item {
            width: 100%!important;
            height: auto!important;
            img {
                height: auto!important;
            }
        }
    }
    // End Columns
    // Item style
    .portfolio-item {
        .portfolio-title-wrap {
            &.top,
            &.bottom {
                border: 1px solid $border_color;
                text-align: center;
                .portfolio-title{
                    position: relative;
                    text-transform: uppercase;
                    color: $primary_color;
                    font-weight: bold;
                    margin-top: 15px;
                    display: block;
                    font-size: 16px;
                    padding-bottom: 10px;
                    @include transition(all 0.35s ease-in-out);
                    &:hover {
                        color: $primary_color;
                    }
                    &:before {
                        content: '';
                        width: 50px;
                        height: 1px;
                        background-color: $primary_color;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        @include translateX(-50%);
                    }
                }
                .portfolio-tag {
                    margin-top: 10px;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }
            }
        }
        .portfolio-thumbnail {
            position: relative;
            overflow: hidden;
            // General
            img {
                display: block;
                height: auto;
                max-width: 100%;
                width: 100%;
            }
            .hover-icon {
                background-color: rgba($white, .15);
                display: inline-block;
                color: $white;
                width: 50px;
                height: 50px;
                line-height: 50px;
                margin: 0 5px;
                opacity: 0;
                @include rounded(50%);
                @include transform(translateY(-100%));
                @include transition(all .3s);
                &:hover {
                    background-color: rgba($black, .5);
                    @include transition(all .3s);
                }
            }
            .hover-title {
                display: block;
                color: $white;
                font-size: 13px;
                @include transition(all .3s);
                &:hover {
                    color: $primary_color;
                    @include transition(all .3s);
                }
            }
            // 
            &.icon-only {
                &:hover {
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                    .portfolio-thumbnail-hover {
                        .hover-icon {
                            opacity: 1;
                            @include transform(translateY(0));
                            @include transition(all .3s);
                        }
                    }
                }
                &:before {
                    background-color: rgba($black, .65);
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    @include transition(all .3s);
                }
                .portfolio-thumbnail-hover {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    text-align: center;
                    @include transform(translateY(-50%));
                }
            }
            &.icon-title {
                &:hover {
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                    .portfolio-thumbnail-hover {
                        .hover-icon {
                            opacity: 1;
                            @include transform(translateY(0));
                            @include transition(all .3s);
                        }

                        .hover-title {
                            opacity: 1;
                            @include transform(scale(1));
                            @include transition(all .3s);
                        }
                    }
                }
                &:before {
                    background-color: rgba($black, .65);
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    opacity: 0;
                    @include transition(all 0.3s);
                }
                .portfolio-thumbnail-hover {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    text-align: center;
                    @include transform(translateY(-50%));

                    .hover-title {
                        opacity: 0;
                        padding-top: 10px;
                        @include transform(scale(.8));
                        @include transition(all .3s);
                    }
                }
            }
            &.icon-title-category {
                &:hover {
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                    .portfolio-thumbnail-hover {
                        .portfolio-thumbnail-bottom {
                            @include transform(translateY(0));
                            @include transition(all .3s);
                        }
                        .hover-icon {
                            opacity: 1;
                            @include transform(translate(-50%, 0));
                            @include transition(all .3s);
                        }
                        .hover-title {
                            opacity: 1;
                            @include transform(scale(1));
                            @include transition(all .3s);
                        }
                    }
                }
                .portfolio-thumbnail-hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    text-align: center;
                    .portfolio-thumbnail-bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 5px 15px;
                        color: $white;
                        background: rgba($black, .6);
                        @include transform(translateY(100%));
                        @include transition(all .3s);
                    }
                    .hover-icon {
                        background: rgba($black, .25);
                        position: absolute;
                        left: 50%;
                        top: 35%;
                        opacity: 0;
                        @include transform(translate(-50%, -100%));
                        @include transition(all .3s);
                        &:hover {
                            background: rgba($black, .5);
                        }
                    }
                    .hover-title {
                        font-size: 14px;
                        text-transform: uppercase;
                        @include transition(all .3s);
                    }
                    .category {
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }
            &.title-category {
                &:hover {
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                    .portfolio-thumbnail-hover {
                        .portfolio-thumbnail-bottom {
                            @include transform(translateY(0));
                            @include transition(all .3s);
                        }
                        .hover-title {
                            opacity: 1;
                            @include transform(scale(1));
                            @include transition(all .3s);
                        }
                    }
                }
                .portfolio-thumbnail-hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    text-align: center;
                    .portfolio-thumbnail-bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 5px 15px;
                        color: $white;
                        background: rgba($black, .6);
                        @include transform(translateY(100%));
                        @include transition(all .3s);
                    }
                    .hover-title {
                        font-size: 14px;
                        text-transform: uppercase;
                        @include transition(all .3s);
                    }
                    .category {
                        font-size: 12px;
                        font-style: italic;
                    }
                }
            }
            &.title {
                &:hover {
                    &:before {
                        opacity: 1;
                        @include transition(all .3s);
                    }
                    .portfolio-thumbnail-hover {
                        .portfolio-thumbnail-bottom {
                            @include transform(translateY(0));
                            @include transition(all .3s);
                        }
                        .hover-title {
                            opacity: 1;
                            @include transform(scale(1));
                            @include transition(all .3s);
                        }
                    }
                }
                .portfolio-thumbnail-hover {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    text-align: center;
                    .portfolio-thumbnail-bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 5px 15px;
                        color: $white;
                        background: rgba($black, .6);
                        @include transform(translateY(100%));
                        @include transition(all .3s);
                    }
                    .hover-title {
                        font-size: 14px;
                        text-transform: uppercase;
                        @include transition(all .3s);
                    }
                }
            }
        }
    }
}