.portfolio-single {
    &.detail-01 {
        .single-top {
            padding-bottom: 6%;
            text-align: center;
            .portfolio-tag {
                
            }
            .portfolio-title {
                padding-bottom: 20px;
            }
            .portfolio-meta {
                text-align: center;
            }
        }
        .portfolio-full {
            border-bottom: 1px solid $border_color;
            margin-bottom: 6%;
            padding-bottom: 5%;
            .portfolio-thumbnail {
                padding-bottom: 5%;
            }
        }
        .portfolio-content {
            padding-bottom: 5%;
        }
        .section-title {
            margin-top: 0;
        }
        .portfolio-info {

        }
        .portfolio-share-wrap {
            padding-bottom: 3%;
        }
    }
    &.detail-02 {
        .single-portfolio-gallery {
            .gallery-item {
                margin-bottom: 20px;
            }
        }
        .single-top {
            text-align: left;
            .portfolio-meta {
                padding-top: 15px;
                span {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .portfolio-content {
            border-bottom: 1px solid $border_color;
            padding-top: 15px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .portfolio-info-box {
            margin-bottom: 20px;
        }
        .portfolio-share {
            padding-top: 20px;
        }
    }
    &.detail-03 {
        .single-top {
            text-align: left;
            .portfolio-meta {
                padding-top: 15px;
                span {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .portfolio-content {
            border-bottom: 1px solid $border_color;
            padding-top: 15px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .portfolio-share {
            margin-bottom: 30px;
            .social-label {
                display: block;
                margin-left: 0;
                padding-bottom: 20px;
                text-transform: uppercase;
            }
        }
        .portfolio-info {
            background-color: #f8f8f8;
            padding: 45px 20px;
        }
        .portfolio-info-box {
            margin-bottom: 20px;
        }
    }
    // 
    .single-top {
        .portfolio-tag {
            text-transform: uppercase;
        }
        .portfolio-title {
            @media screen and (max-width: $screen-xs-max) {
                font-size: 20px;
            }
        }
        .portfolio-meta {
            span {
                margin: 15px;
                @media screen and (max-width: $screen-xs-max) {
                    margin: 5px;
                }
                i {
                    color: $primary_color;
                    margin-right: 6px;
                }
            }
        }
    }
    .portfolio-content {
        a {
            color: $primary_color;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .section-title {
        color: $heading_color;
        font-size: 28px;
        line-height: 1.4;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 24px;
        }
    }
    .portfolio-thumbnail {
        margin-bottom: 15px;
    }
}

.single-portfolio-slideshow {
    margin-bottom: 50px;
    .slide-item {
        padding: 0 15px;
        @media screen and (max-width: $screen-xs-max) {
            padding: 0 5px;
        }
        &:focus {
            outline: none;
        }
        &.slick-current {
            img {
                opacity: 1;
                @include transition(all .5s);
            }
        }
        img {
            width: 100%;
            opacity: .3;
            @include transition(all .5s);
        }
    }
    // Arrow
    .slick-arrow {
        &.slick-prev, &.slick-next {
            background: none;
            border: none;
            color: transparent;
            cursor: pointer;
            display: block;
            font-size: 0;
            line-height: 0;
            outline: none;
            padding: 0;
            position: absolute;
            top: 50%;
            z-index: 999;
            &:before {
                color: $text_color;
                font-family: 'slick';
                font-size: 56px;
                line-height: 1;
                opacity: 1;
                @include transition(all .3s);
            }
            &:hover {
                &:before {
                    color: $primary_color;
                    @include transition(all .3s);
                }
            }
        }
        &.slick-prev {
            left: 50px;
            @include transform(translate(-50%, -50%));
            &:before {
                content: "\f3cf";
                font-family: Ionicons;
            }
        }
        &.slick-next {
            right: 50px;
            @include transform(translate(50%, -50%));
            &:before {
                content: "\f3d1";
                font-family: Ionicons;
            }
        }
    }
}

.portfolio-info-box {
    .info-title {
        color: $heading_color;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    .info-value {

    }
}
.portfolio-share {
    .social-share {
        list-style: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-left: 15px;
            &.social-label {
                display: none;
            }
            &:nth-child(2) {
                margin-left: 0;
            }
        }
        a {
            color: $primary_color;
            display: inline-block;
            font-family: $secondary_font;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            width: 45px;
            height: 45px;
            line-height: 40px;
            border: 2px solid rgba($border_color, .5);
            @include rounded(50%);
            @include transition(all .3s);
            &:hover {
                background-color: $primary_color;
                border: 2px solid $primary_color;
                color: $white;
                @include transition(all .3s);
            }
            @media screen and (max-width: $screen-xs-max) {
                font-size: 14px;
                width: 35px;
                height: 35px;
                line-height: 32px;
            }
        }
    }
}
// Related
.single-portfolio-related {
    padding-top: 30px;
    .related-title {
        color: $heading_color;
        font-size: 28px;
        line-height: 1.4;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 24px;
        }
    }
    .related-list {
        padding-top: 3%;
        position: relative;
        &:hover {
            .owl-nav {
                .owl-prev, .owl-next {
                    opacity: 1;
                    @include transition(all .3s ease);
                }
            }
        }
        .owl-nav {
            .owl-prev, .owl-next {
                position: absolute;
                display: block;
                top: 50%;
                z-index: 999;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: rgba($black, .2);
                color: $white;
                opacity: 0;
                @include translateY(-50%);
                @include transition(all .3s ease);
                &:hover {
                    background: rgba($black, .5);
                    cursor: pointer;
                }
            }
            .owl-prev {
                left: 0;
            }
            .owl-next {
                right: 0;
            }
        }
    }
    .portfolio-meta {
        padding: 20px 10px 15px 10px;
        text-align: center;
        @media screen and (max-width: $screen-sm-max) {
            padding: 10px 5px 10px 5px;
        }
        .portfolio-category {
            font-style: italic;
            text-transform: uppercase;
        }
    }
    .portfolio-title {
        a {
            color: $heading_color;
            @include transition(all .3s);
            &:hover {
                color: $primary_color;
                @include transition(all .3s);
            }
            @media screen and (max-width: $screen-sm-max) {
                font-size: 14px;
            }
        }
    }
}